/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  top: 6vh;
  position: relative;
}

.content {
  flex: 1;
  
  width: 100vw;
}

.page{
    width: 100%;
    padding: 3vh 0 0 0;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageBody{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chartsInfo{
  
}
