/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  top: 6vh;
  position: relative;
}

.content {
  flex: 1;
  padding: 20px;
}
