.graphDashBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  padding: 2vw;
}

.graphGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2vw;
  width: 100%;
  grid-auto-rows: auto;
}

@media (min-width: 600px) {
  .graphGrid {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .graphGrid {
      grid-template-columns: 1fr 1fr;
  }
}


.graphGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.graph_component {
  background-color: #fff;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.graph_component h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.graph_component .graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.graph_component .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30vw;
}


/* Controles de los gráficos */
.chart-controls {
  display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 8vw;
    flex-direction: column;
    height: 10vh;
}

.chart-controls button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.chart-controls button:hover {
  background-color: darken(var(--primary-color), 10%);
}

/* Skeleton para la carga de gráficos */
.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skeleton-title {
  width: 50%;
  height: 20px;
  background-color: var(--skeleton-color);
  margin-bottom: 10px;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeleton-chart {
  width: 100%;
  height: 200px;
  background-color: var(--skeleton-color);
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      background-color: var(--skeleton-color);
  }
  50% {
      background-color: lighten(var(--skeleton-color), 10%);
  }
  100% {
      background-color: var(--skeleton-color);
  }
}

/* Información detallada */
.chart-info {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.chart-info button {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}



/* Estilos responsivos */
@media (min-width: 600px) {
  .graphGroup {
      grid-template-columns: 1fr 1fr;
  }

  .graph_component {
      flex-direction: row;
      align-items: flex-start;
  }

  .graph_component .graph,
  .graph_component .info {
      flex: 1;
  }
}

@media (min-width: 768px) {
  .graph_component {
      flex-direction: row;
  }

  .graph_component .graph,
  .graph_component .info {
      width: 50%;
  }

  .graph_component .info {
      padding: 20px;
  }
}

.chart-info {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 2vh 3vw;
  width: 50%;
  box-sizing: border-box;
}

.chart-info button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.chart-info .detailed-info {
  margin-top: 10px;
}

/* Pie Chart */
.devicesGraphs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2vw;
  width: 100%;
  justify-items: center;
    align-items: center;
}

@media (min-width: 600px) {
  .devicesGraphs {
      grid-template-columns: 1fr 1fr;
  }
}

.pie-chart,.bar-chart {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  min-height: 40vh;
}

.chart-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vh 1vw;
  box-sizing: border-box;
}

.chartsInfo {
  padding: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column
}



.iframe-container {
  display: flex;
  height: 75vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

div#widgetIframe {
  width: 100%;
  height: 100%;
  filter: contrast(0.9);
}

.graph_component.expanded{
  grid-column: span 2;
}

 button:hover {
  background-color: red !important;
}