.nowInfo{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    justify-content: center;
    padding: 2vh 0;
}

.home{
    display: block;
    width: 100%;
    
}

.DashBoard{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        padding: 2vh 0;
}

.info-component {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-between;
}

.pageSections{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
    gap: 1vw;
}

.visits-overview-section{
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visits-summary{
    width: 100%;
}

.visits-overview-section .graph_component{
    width: 35vw !important;
}