.nowInfo{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    justify-content: center;
    padding: 2vh 0;
}

.home{
    display: block;
    width: 100%;
    
}

.DashBoard{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        padding: 2vh 0;
}

.info-component {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-between;
}

.HomePage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "LiveSection VisitsSection MediaSection";
    gap: 20px;
  }

.LiveSection {
    grid-area: LiveSection;
    
  }
  
  .VisitsSection {
    grid-area: VisitsSection;
  
  }
  
  .MediaSection {
    grid-area: MediaSection;
    
  }

  .LiveSection, .VisitsSection, .MediaSection {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    gap: 10px; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Responsividad */
  @media (max-width: 1200px) {
    .HomePage {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "LiveSection VisitsSection"
        "MediaSection MediaSection";
    }
  }
  
  @media (max-width: 768px) {
    .HomePage {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "LiveSection"
        "VisitsSection"
        "MediaSection";
    }
  }

    .LiveSection h1, .VisitsSection h1, .MediaSection h1 {
        grid-row: span 1; 
    }

     .LiveSection .data-overview-table, .VisitsSection .data-overview-table{
        grid-row: span 2;
    }

    .LiveSection .iframe-container, .VisitsSection .graph_component{
        grid-row: span 7;
     }
   

   
    .MediaSection .data-overview-table{
        grid-row: span 3;
    }


