.nowInfo{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    justify-content: center;
    padding: 2vh 0;
}

.home{
    display: block;
    width: 100%;
    
}

.DashBoard{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        padding: 2vh 0;
}

.info-component {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-between;
}


.LiveSection {
    grid-area: LiveSection;
    
  }
  
  .VisitsSection {
    grid-area: VisitsSection;
  
  }
  
  .MediaSection {
    grid-area: MediaSection;
    
  }
  
  /* Ajustes para la HomePage */
.HomePage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "LiveSection VisitsSection MediaSection";
    gap: 20px;
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    box-sizing: border-box;
    padding: 20px; /* Espaciado interno para evitar desbordamientos */
    width: 100vw;
}

/* Ajuste para las secciones para ocupar bien el espacio */
.LiveSection, .VisitsSection, .MediaSection {
    grid-gap: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    height: auto;
    min-height: 0;
    padding: 0 1vw;
    justify-items: center;
}

/* Ajuste para que el contenido se distribuya bien en pantallas grandes */
.LiveSection, .VisitsSection, .MediaSection {
    height: auto;
    min-height: 0;
}

/* Ajustes de Responsividad */
@media (max-width: 1200px) {
    .HomePage {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
          "LiveSection VisitsSection"
          "MediaSection MediaSection";
        height: auto;
    }
}

@media (max-width: 768px) {
    .HomePage {
        grid-template-columns: 1fr;
        grid-template-areas: 
          "LiveSection"
          "VisitsSection"
          "MediaSection";
        height: auto;
    }
}

.LiveSection h1, .VisitsSection h1, .MediaSection h1 {
    grid-row: span 1; /* El título ocupa 1/10 del espacio */
}

.LiveSection .data-overview-section{
    grid-row: span 1;
        height: 100%;
}

.LiveSection .iframe-container{
    width: 100% !important;
    height: 100% !important;
}


 .v isitsSection .data-overview-table {
    grid-row: span 2; /* El resumen ocupa 2/10 del espacio */

}

.LiveSection .iframe-container, .VisitsSection .graph_component  {
    grid-row: span 6; /* El gráfico ocupa 7/10 del espacio */
}
.MediaSection .graph_component{
    grid-row: span 7; /* El gráfico ocupa 7/10 del espacio */

}

.MediaSection .graph{
    height: 100%;
    width: 100%;
}

.MediaSection .data-overview-table {
    grid-row: span 2; /* Ajuste adicional para MediaSection */
}
