/* src/DataOverviewTable.css */
.data-overview-table {
    margin: 0;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px; /* Espacio entre los elementos, opcional */
    align-items: center;
    justify-items: center;
}

    .data-overview-table h3{
        grid-column: 1/2;
        grid-row: 1/2;
    }


.filter-options {
    margin-bottom: 20px;
}

    .data-overview-table .filter-options{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .data-overview-table .table{
        grid-column: 1/3;
        grid-row: 2/3;
    }



.filter-options label {
    margin-right: 20px;
}

.filter-options select,
.filter-options input {
    margin-left: 10px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    flex-direction: row;
}

  
  .table-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
  }

.table-cell {
    margin-bottom: 10px;
    font-size: 18px;
}

.table-cell span {
    font-weight: bold;
    color: #333;
}


