/* src/components/Sidebar.css */
.sidebar {
  background: #f4f4f4;
  padding: 1vh 1vw;
  width: 5vw;
  height: 100vh
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  