.visitsGraphs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

@media (min-width: 1000px) {
    .chart-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.data-overview-section{
    width: 100%;
}

